/*
.user-input-edit {
    background-color: rgb(235,235,235);
    border:.1rem solid lightgrey;
    outline: .15rem solid white;
    filter:drop-shadow(0px 0px .2rem lightgrey);
    border-radius: .3rem;
    padding:.2rem;
    text-wrap:nowrap;
}

.user-edit-button {
    background-color:rgb(200,200,200);
    border:.1rem solid lightgrey;
    outline: .15rem solid white;
    font-weight:bold;
    filter:drop-shadow(0px 0px .2rem lightgrey);
    border-radius: .75rem;
    padding: .2rem .4rem;
    margin-bottom:.5rem;
    transition: filter .1s, background-color .025s, color .1s;
}

.user-edit-button:hover {
    color:white;
    background-color:rgb(160,160,160);
    filter:drop-shadow(0px 0px .4rem lightgrey);
}

.user-change-image-container {
    border-radius:2rem;
    background-color: rgb(235,235,243);
    border:.1rem solid lightgrey;
    outline: .15rem solid white;
    filter:drop-shadow(0px 0px .2rem lightgrey);
} */