@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, .h1 {
    @apply text-4xl;
    @apply font-bold;
    @apply mb-10;
    @apply md:text-5xl;
    @apply lg:text-6xl;
  }

  h2, .h2 {
    @apply text-3xl;
    @apply font-bold;
    @apply mb-8;
    @apply md:text-4xl;
    @apply lg:text-5xl;
  }

  h3, .h3 {
    @apply text-2xl;
    @apply font-bold;
    @apply mb-7;
    @apply md:text-3xl;
    @apply lg:text-4xl;
  }

  h4, .h4 {
    @apply text-xl;
    @apply font-bold;
    @apply mb-6;
    @apply md:text-2xl;
    @apply lg:text-3xl;
  }

  h5, .h5 {
    @apply text-lg;
    @apply font-bold;
    @apply mb-5;
    @apply md:text-xl;
    @apply lg:text-2xl;
  }

  h6, .h6 {
    @apply text-sm;
    @apply font-bold;
    @apply mb-4;
    @apply md:text-base;
    @apply lg:text-lg;
  }

}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
